* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

html,
body {
  background: linear-gradient(to bottom, #8a0015, #110303);
  height: 100%;
}